.header {
	display: flex;
	padding: 10px;
	align-items: center;

	background-color: #131921;
	position: sticky;
	top: 0;
	z-index: 100;
}

.header__link {
	color: white;
	text-decoration: none;
}

.header__logo {
	width: 100px;
	object-fit: contain;
	margin: 18px 20px 0;
}

.header__search {
	display: flex;
	flex: 1;

	align-items: center;
	border-radius: 24px;
}

.header__searchInput {
	height: 12px;
	padding: 10px;
	border: none;
	width: 100%;
}

.header__searchIcon {
	padding: 5px;
	height: 22px !important;
	background-color: #cd9042;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}

/* @media screen and (max-width: 500px) {
	.header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header__logo {
		margin: 0 auto;
	}
	.header__nav {
		margin-top: 10px;
	}
} */

.header__option {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	color: white;
}

.header__optionLineOne {
	font-size: 10px;
}

.header__optionLineTwo {
	font-size: 13px;
	font-weight: 800;
}

.header__optionBasket {
	display: flex;
	align-items: center;
	color: white;
}

.header__basketCount {
	margin: 0 10px;
}
